/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../static/img/banner-bg.png');
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.heroRow {
  align-items: center;
}

.heroBanner h1,
.heroBanner p,
.heroBanner a {
  color: white;
  text-align: justify;
}

.heroLinks {
  text-align: start;
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.heroCta {
  text-align: start;
  margin-top: 28px;
}

.heroImage {
  animation: updown 3s linear infinite;
  width: 100%;
  margin-left: 20px;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    height: auto;
  }

  .heroBanner svg {
    max-width: 500px;
    margin: 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
